// ============================================
// Hero Container
// ============================================

//variables
$heroBackground: $headingColor;
$heroTextColor: $bodyColor;

//container

.hero {
  background: $heroBackground;
  h1,h2, p, li {
    color: $heroTextColor;
  }
}