%h1 I was loaded remotely!
%p See. it works! AJAX calls currently assume the data coming back is HTML and can be handed right off into the modal container. This will be enhanced in the future to allow JSON data to come back and fire an event allowing you to implement your own parsing function to generate the content you want to put into the modal and pass it back to the modal controller.