// ============================================
// Helpers
// ============================================

.clear { clear:both; }
.clear-left { clear:left; }
.clear-right {clear:right; }
.clearfix { @include applyClearfix(); }

.pull-left { float: left;}
.pull-right {float: right;}

.unstyled {
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

// symbols

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid $appPrimary;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}