// ============================================
// Layout
// ============================================

//variables

$columns: 12;
$columnWidth: 60px; // 6.383%;
$gutter: 20px; //2.127%;

$pageWidth : $columns * $columnWidth + ($columns + 1) * $gutter; //980px;

$shim: 15px;
$shimLarge: 30px;


* { @include addPrefix(box-sizing, border-box); }

.row {
  @include applyClearfix();
  margin-left: -1 * $gutter;
  width: $pageWidth - $gutter;
  position: relative;
}

.row-fluid {}

//for showing grid only
.row-test [class^="span"] {
  height: 20px;
  margin-bottom: 10px;
  background: $appPrimary;
}

[class^="span"] {
  float: left;
  display: block;
  margin-left: $gutter;
  min-height: 1px;
}

//generate layout classes
@for $i from 1 through $columns {

    .span#{$i}  { 
      width: ($columnWidth * $i) + ($gutter * ($i - 1));

      .row { width: ($columnWidth * $i) + ($gutter * ($i - 1)) + $gutter; }
    }
    .offset#{$i} { margin-left: ($columnWidth * $i) + ($gutter * ($i + 1));}
}

.wrapper, 
.container {
  width: $pageWidth;
  padding: $gutter;
  margin: 0 auto;
}

.shim         { margin: $shim 0; }
.shim-top     { margin-top: $shim; }
.shim-bottom  { margin-bottom: $shim; }

.shim-large         { margin: $shimLarge 0; }
.shim-large-top     { margin-top: $shimLarge; }
.shim-large-bottom  { margin-bottom: $shimLarge; }

// ============================================
// High Level Areas
// ============================================

header,
.content,
footer {
  @include applyClearfix();
}

//header

header {

}

//content

.content {

}

//footer

footer {

}
