// ============================================
// Variables
// ============================================

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

$baseFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$brandFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$appRadius: 3px;

$appBorderColor: #DDD;
$appShadeColor: #EEE;

$darkBackground: #000000;
$lightBackground: #797979;

$bodyColor : #ffffff;

//Primary
$appPrimary: #7acf72;
$appPrimaryLight: lighten($appPrimary, 20);
$appPrimaryDark: darken($appPrimary, 20);

//Secondary
$appSecondary: #3a8eef;
$appSecondaryLight: lighten($appSecondary, 10);
$appSecondaryDark: darken($appSecondary, 20);

$appSecondaryText: #002157;

//Tertiary
$appTertiary: #999;
$appTertiaryLight: #CCC;


//Quaternary
$appQuaternary: #aaaaaa;
$appQuaternaryLight: #f8f8f8;
$appQuaternaryDark: #363636;

$appQuaternaryText: #7f7f7f;

