// ============================================
// Variables
// ============================================

$baseFont: Helvetica, Arial, sans-serif;
$brandFont: Helvetica, Arial, sans-serif;

$appRadius: 3px;

$darkBackground: #000000;
$lightBackground: #797979;

$bodyColor : #f6f6f6;

//Primary
$appPrimary: #333;
$appPrimaryLight: lighten($appPrimary, 20);
$appPrimaryDark: darken($appPrimary, 20);

//Secondary
$appSecondary: #3a8eef;
$appSecondaryLight: lighten($appSecondary, 10);
$appSecondaryDark: darken($appSecondary, 20);

$appSecondaryText: #002157;

//Tertiary
$appTertiary: #999;
$appTertiaryLight: #CCC;


//Quaternary
$appQuaternary: #aaaaaa;
$appQuaternaryLight: #f8f8f8;
$appQuaternaryDark: #363636;

$appQuaternaryText: #7f7f7f;

