// ============================================
// Variables
// ============================================

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

$baseFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$brandFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$appRadius: 3px;

$appBorderColor: #DDD;
$appShadeColor: #EEE;

$darkBackground: #000000;
$lightBackground: #797979;

$bodyColor : #ffffff;

//Primary
$appPrimary: #7acf72;
$appPrimaryLight: lighten($appPrimary, 20);
$appPrimaryDark: darken($appPrimary, 20);

//Secondary
$appSecondary: #e18c46;
$appSecondaryLight: #fcb968;
$appSecondaryDark: #9f6232;

$appSecondaryText: #002157;

//Tertiary
$appTertiary: #999;
$appTertiaryLight: #CCC;

