// ============================================
// Button
// ============================================

//variables
$btnBackground : $linkHoverColor;
$btnHighlight  : $linkColor;
$btnHover      : darken($linkHoverColor, 5);
$btnTextColor  : white;

$btnSecondaryBackground : #d9d9d9;
$btnSecondaryHighlight  : lighten($btnSecondaryBackground, 10);
$btnSecondaryHover      : darken($btnSecondaryBackground, 5);
$btnSecondaryTextColor  : #777;




$btnRadius : $appRadius;

//modifiers


//modules

.btn {
  display: inline-block;
  font-size: .9em;
  text-decoration: none;
  background: transparent;
  @include gradient($btnBackground, $btnHighlight);
  color: $btnTextColor;
  border: 1px solid $btnBackground;
  padding: 5px 10px;
  @include addPrefix(border-radius, $btnRadius);
  @include addPrefix(box-shadow, inset 0 1px 0 rgba(255,255,255,0.3));

  &:hover, &.active {
    color: $btnTextColor;
    @include gradient($btnHover, $btnHighlight);
  }

  &:active {
    color: $btnTextColor;
    border: 1px solid $btnHighlight;
    @include gradient($btnHighlight, $btnHover);
  }
}

.btn-secondary {
  @include gradient($btnSecondaryBackground, $btnSecondaryHighlight);
  border: 1px solid $btnSecondaryHover;
  color: $btnSecondaryTextColor;

  &:hover, &.active {
    color: $btnSecondaryTextColor;
    @include gradient($btnSecondaryHover, $btnSecondaryHighlight);
  }

  &:active {
    color: $btnSecondaryTextColor;
    border: 1px solid $btnSecondaryHighlight;
    @include gradient($btnSecondaryHighlight, $btnSecondaryHover);
  }
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link.active {
  border: 0;
  background-color: transparent;
  background-image: none;
  color: $btnBackground;
}

.btn-link:hover { text-decoration: underline; }

.btn-small {
    font-size: .75em;
}

.btn-large {
  font-size: 1.25em;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}