// ============================================
// togglebox
// ============================================

.no-js .togglebox { display: none; }
.js .togglefallback { display: none; }

.togglebox {
  @include applyClearfix();

  .box {
    width: 38%;

    p {
      margin: 3px;
      color: $formLabelColor;

    }
  }

  .box,
  .toggleactions {
    float: left;
  }

  select {
    padding: 10px;
    width: 100%;
  }

}

.toggleactions {
  width: 24%;
  padding: 30px 20px 10px;
  text-align: center;

  a {
    margin: 5px 10px;
  }

}