// ============================================
// Form
// ============================================

//variables
$formLabelColor: $appPrimary;
$formInputColor: $textColor;
$formBorderColor: $appBorderColor;
$formInputBackground: lighten($appShadeColor, 5);
$formRadius: $appRadius;

//module

form {
  .actions {
    padding: 15px 0;
  }
}

label {
  display: block;
  margin: 10px 0 5px;
  color: $formLabelColor;
}

input, textarea, select {
  color: $formInputColor;
  padding: 3px 5px;
  border: 1px solid $formBorderColor;
  background: $formInputBackground;
  @include addPrefix(border-radius, $formRadius);
}

input[type="file"] {
  border: 0;
  background: transparent;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

select[multiple] {
  overflow: auto;
}


.form-full {
  input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]),
  textarea {
    width: 100%;
  }

  select {
    width: 25%;
  }
}