// ============================================
// Form
// ============================================

form {
  .actions {
    padding: 15px 0;
  }
}

label {
  display: block;
  margin: 10px 0 5px;
  color: $appTertiary;
}

input, textarea, select {
  color: $appQuaternaryText;
  padding: 3px 5px;
  border: 1px solid $appTertiary;
  @include gradient(#fff, $appQuaternaryLight); //needs adjustment
}

input[type="file"] {
  border: 0;
  background: transparent;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

select[multiple] {
  overflow: auto;
}

//login

.form-login {
  background: $appQuaternaryLight;
  padding: 20px;
  @include addPrefix(border-radius, 5px);
  position: absolute;
  @include addPrefix(animation, slideIn 1.5s);

  h3 {
    color: $appQuaternary;
  }
}

.form-full {
  input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]),
  textarea {
    width: 100%;
  }

  select {
    width: 25%;
  }
}