#modal {
  position: fixed;
  left: 0; top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 500;
}

.loader {
  $size: 42px;
  display: block;
  height: $size;
  width: $size;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1 * ($size/2);
  margin-top: -1 * ($size/2);
  padding: 5px;
  background: black url(../imgs/ajax-loader.gif) no-repeat 5px 5px;
  @include addPrefix(border-radius, $btnRadius);
}

$size: 400px;

#modal-content {
  //height: $size;
  width: $size*2;
  max-height: 80%;
  // padding-top: 40px;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -1 * ($size);
  border: solid 1px $darkBackground;
  background: #fff;
  overflow: auto;

}

#modal-header{
  background-color: black;
  height: 30px;
  position: fixed;
  width: $size*2;

  .modal-title{
    float: left;
    font-size: 0.8em;
    color: #d9b336;
    padding-left: 7px 0 0 15px;
  }

  > .btn-close {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 3px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#modal-body {
  padding: 8px 15px 15px;
  //height: $size - 40px;
  //width: $size*2;
  width: 99%;
  max-height: 80%;
  background: white;
  overflow: auto;
  margin-top: 40px;
}