// ============================================
// Navigation
// ============================================

//variables
$navBorderColor: #EEE;

.nav {
  @extend .unstyled;
  margin: 0;

  li {
    @include inlineblock();
    padding: 5px 0px 5px 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.nav-vertical {

  li {
    display: block;
    padding: 0;

    &:first-child {
      padding: 0;
    }

    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

.nav-box {
  // border: 1px solid $navBorderColor;
  border-collapse: collapse;

  li {
    border: 1px solid $navBorderColor;
  }

  a {
    text-decoration: none;

    &:hover {
      background: $navBorderColor;
    }

    &.active {
      background: $linkColor;
      color: white;
    }
  }
}

.nav-main {
  font-family: $brandFont;
  font-size: 1.5em;
  font-weight: normal;
  margin-left: 20px;

  li {
    padding-left: 20px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    text-decoration: none;
    color: $appSecondary;

    &.active {
      color: $appPrimary;
      position: relative;
    }
  }
}

.nav-footer {

  float: right;
  margin-top: -5px;

  a {
    color: $appSecondary;
    border-left: 1px solid $appSecondary;
    padding-left: 8px;
    margin-left: -4px;
  }

  li:first-child a {
      border-left: 0;
  }
}