
$tableHeadColor: $appSecondary;

$tableBtnRadius: $appRadius;
$tableBorderColor: $appBorderColor;
$tableStripeColor: $appShadeColor;
$tableStripeHeadColor: $appPrimary;
$tableHoverColor: $appSecondaryLight;
$tableHoverTextColor: $bodyColor;

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: normal;
}

td, th {
  padding: 5px 10px;
}

.table {
  border-collapse: separate;
  border: 1px solid $tableBorderColor;
  @include addPrefix(border-radius, $tableBtnRadius);

  thead {
    @include addPrefix(border-radius, $tableBtnRadius $tableBtnRadius 0 0);
    color: $tableHeadColor;
  }

  tbody, 
  tbody tr:last-child {
    @include addPrefix(border-radius, 0 0 $tableBtnRadius $tableBtnRadius);
  }

  td, th {
    border-top: 1px solid $tableBorderColor;
    border-left: 1px solid $tableBorderColor;
  }

  td:first-child,
  th:first-child  {
    border-left: none;
  }

  th {
    font-weight: bold;
    font-size: .9em;
    border-top: 0;
  }

}

.table-striped {

  thead {
    background: $tableStripeHeadColor;
    color: #fff;
  }
  tbody {
    tr:nth-child(odd){
      background: #fff;
    }
    tr:nth-child(even) {
      background: $tableStripeColor;
    }

  }
}

.table-small {
  font-size: .8em;
  td, th {
    padding: 3px 5px;
  }
}

.table-hover {
  tbody {
    tr:hover {
      background: $tableHoverColor;
      color: $tableHoverTextColor;
    }
  }
}